* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(233deg, 47%, 7%);
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-items: center;
}

h1,
h3 {
  color: hsl(0deg, 0%, 100%);
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

p {
  color: hsla(0deg, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
p.big {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}

main {
  margin: 2.5rem 0;
  max-width: 21.5rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: hsl(244deg, 38%, 16%);
}

div.img-wrapper {
  position: relative;
}
div.img-wrapper img {
  width: 100%;
  display: block;
  position: relative;
}
div.img-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(277deg, 64%, 61%);
  opacity: 0.7;
  mix-blend-mode: multiply;
}

span {
  color: #a047d7;
}
span.word {
  color: hsla(0deg, 0%, 100%, 0.75);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}

.info {
  text-align: center;
  margin-top: 2rem;
}
.info.last {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 70%;
    max-height: 24rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: grid;
    grid-template-areas: "a a a" "b c d";
    justify-items: flex-start;
    row-gap: 10px;
  }
  .info {
    text-align: left;
    margin: 0;
  }
  .info.a {
    grid-area: a;
  }
  .info.a h1,
.info.a p {
    max-width: 85%;
  }
  .info.last {
    margin: 0;
  }
}